.divInputs {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
}

.DivPrincipalInput {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.FormPrincipalInput {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem
}

.MuiAlert-outlinedSuccess {
    color:black
}

.divcard {
    display: flex;
    justify-content: left;
    align-items: right;
    flex-direction: row;
    gap: 5rem;
}

.divCardGrid {
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    width: 90%;
    margin:0 auto;

}

.divCardGrid *{
    flex-basis: calc(25%-1rem);
    max-width: 273px;
}
